.img{
    
    height:200px;
}

@media (min-width:768px) and (max-width:1024px){
    .img{
        height: 300px;
        
    }
}

@media (min-width:1024px){
    .img{
        height: 320px;
        
    }
}


